/* Style the tabs */
.tabs {
  overflow: hidden;
}

.tablink {
  background-color: #000000;
  color: white;
  float: left;
  border: white;
  outline: white;
  cursor: pointer;
  padding: 10px 20px;
}

.tablink:hover {
  background-color: #ff5733;
}

/* Hide chart containers by default */
.tabcontent {
  display: none;
}

/* Set chart container width and height */
#myPieChart,
#myBarChart {
  max-width: 100%;
  width: 100%;
  height: auto;
}
